body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    user-select: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html, body, #app, .canvas {
    width: 100%;
    height: 100%;
}

/* Top panel */

.panel-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.54);
}

/* Images and wells */

.well img {
    position: relative;
    top: 0;
    left: 0;
}

.well, .well img, .image {
    width: 256px;
    height: 256px;
    border-radius: 8px;
}

.well {
    background-color: #eee;
    display: inline-block;
    position: relative;
    margin: 8px;
    flex-shrink: 0;
}

.well.full.highlighted {
    opacity: 60%;
}

.well.highlighted .well-placeholder {
    background-color: white;
}

.well-placeholder {
    width: calc(256px * 0.75);
    height: calc(256px * 0.75);
    position: absolute;
    top: calc(256px * 0.125);
    left: calc(256px * 0.125);
    box-sizing: border-box;
    border: solid white 10px;
    border-radius: 6px;
}

img.selected {
    outline: solid black 2px;
}

/* Dragging cursors */

.well.full, .image {
    cursor: grab;
}

.dragging, .dragging * {
    cursor: grabbing;
}
