body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.tab {
    padding: 8px;
}

.well, img {
    width: 256px;
    height: 256px;
    border-radius: 4px;
}

.well {
    background-color: #bbb;
    display: inline-block;
    margin: 0 8px;
}

.well.highlighted {
    opacity: 60%;
}

img.selected {
    outline: solid black 2px;
}
