body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    user-select: none;
}

html, body, #app, .canvas {
    width: 100%;
    height: 100%;
}

.tab {
    padding: 8px;
}

.well, .well img, .image {
    width: 256px;
    height: 256px;
    border-radius: 4px;
}

.well {
    background-color: #bbb;
    display: inline-block;
    margin: 0 8px;
}

.well.highlighted {
    opacity: 60%;
}

img.selected {
    outline: solid black 2px;
}

/* Dragging cursors */
.well.full, .image {
    cursor: grab;
}

.dragging, .dragging * {
    cursor: grabbing;
}
